html,
body {
	height: 100%;
}

/* cover */

#cover { 
	background: #222 url(https://www.flyporter.com/Content/responsive/images/destinationdetails/seasonalpromo/toronto/Porter_Destinations_0005_33_Toronto.jpg) center center 
	no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
}

#cover-caption {
	width: 100%;
}